/*****************************************************/
/* Page Body */

body    {
    height: 100%;
    margin: 0px;
}

html {
    background-color: rgb(165, 24, 106);
    /*background-color: rgb(32, 32, 32);*/
    margin: 0px;
    height: 100%;
}

html::-webkit-scrollbar{
    background-color: rgb(180, 50, 120);
    width: 6.5px;
}
html::-webkit-scrollbar-thumb{
    transition: background-color 0.3s ease;
    background-color:rgb(104, 0, 61);
    border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover{
    background-color:rgb(50, 0, 20);
}
#spacing{
    margin-top: 10%;
}

/*****************************************************/
/*****************************************************/
    /*Menu*/
/* Navigation */
nav#left {
    float: left;
    margin: 10px;
    overflow:hidden;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav#left ul#left {
    margin: 0;
    padding: 0;
}

nav#left ul#left li#left {
    display: inline-block;
    list-style-type: none;
}

nav#left > ul#left > li#left > a#left {
    color: #fff;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}
/*****************************************************/
/* Nav Login */
#right {
    float: right;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.rightli {
    display: inline-block;
    list-style-type: none;
}

#loginbutton {
    float: right;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: #5f5f5f;
    cursor: pointer;
    outline: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#loginbutton:hover {
    border-color: #aaa;
    background-color: #aaa;
    color: #5f5f5f;
}

.imgbutton {
    transition: filter 0.3s ease;
    filter: brightness(1);
    padding: 0;
    margin-top: 8px;
    margin-right: 5px;
}

.imgbutton:hover {
    filter: brightness(0.8);
}
/*****************************************************/

.ab_logo {
    transition: filter 0.3s ease;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    filter: brightness(1);
}
.ab_logo:hover {
    filter: brightness(0.8);
}
.bg-div {
   /*background:rgba(51, 51, 51, 0);*/
   background-color: rgb(165, 24, 106);
   position: fixed;
   width: 100%;
   top: 0%;
   overflow: hidden;
   z-index: 3;
   display: block;
   box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.25);
}

/*****************************************************/
 /* Right Nav */
 nav {
    float: left;
    margin: 10px;
    overflow:hidden;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    color: #fff;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav > ul > li > a:hover {
    color: #aaa;
}

.ab_logo {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}
.bg-div-left {
   background:rgba(51, 51, 51, 0);
   overflow: hidden;
}
/*****************************************************/
/*****************************************************/
 /* Page Content */

h1 {
    margin-top: 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    text-align: center;
}

 p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

iframe#discord_widget {
    width: 450px;
    height: 350px;
    /*left: 80%;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*margin-top: 10%;*/
    position: relative;
}

/*****************************************************/
/*****************************************************/

/*Footer Part:*/
div#footer {
    background-color:rgb(104, 0, 61);
    position: absolute;
    bottom: 0%;
    top: 100%;
    left: 0px;
    width: 100%;
    height:75px;
    overflow: hidden;
}

div#container {
    min-height: 30%;
    background-color: rgb(165, 24, 106);
    position: relative;
}

div#content {
    overflow: auto;
    background-color:#333;
}

div#imginthefooter {       
    background: url(/content/img/logo.png);
    width:150px;
    height:768px;
    z-index:300;
    bottom: 0px;
    top: -108px;
    right: -150px;
    position: fixed;
}
/*****************************************************/
/*****************************************************/